input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.test {
    margin: 0;
    position: absolute;
    top: auto;
    left: 32%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}